:root {
  --spot-green: #1db954;
  --spot-black: rgb(30, 30, 30);
  --spot-blue-grad: rgb(37, 69, 108);
  --spot-transp: rgba(39, 55, 95, 0.2);
  --spot-blue: rgb(39, 55, 95);
  --dark-gray: #241d1d;
}

@import url(//db.onlinewebfonts.com/c/01173b246d9d9ea808ea75a26b3b61bb?family=Circular+Spotify+Tx+T+Black);

@font-face {
  font-family: "Circular Tx T Black";
  src: url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.eot");
  src: url("//db.onlinewebfonts.com/t/01173b246d9d9ea808ea75a26b3b61bb.eot?#iefix")
    format("embedded-opentype");
}

body {
  background-color: var(--spot-black);
  width: 100%;
  margin: 0;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: white;
}

/* **************** SIDE NAV ********************** */

.c-carousel--simple {
  display: none;
}
.mobile-logo {
  display: none;
}
.all__page {
  width: 100%;
  margin: 0;
}

.sidebar {
  width: 12%;
  min-height: 100vh;
  text-align: start;
  position: fixed;
  z-index: 1;
  margin: 0;
  border-right: 2px solid #292929;
}

#logo {
  margin-top: 15% !important;
  margin-left: 15% !important;
  justify-content: center;
  display: flex;
  padding-left: 5px;
  padding-bottom: 15px;
  width: 120px;
  cursor: pointer;
  image-rendering: optimizeQuality;
  color: rgb(177, 172, 172);
}

.sidebar a:first-child {
  margin-top: 35%;
}

.sidebar a {
  text-align: start;
  margin-left: 10%;
  display: block;
  margin-top: 10%;
  cursor: pointer;
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  padding: 10% 0;
}

#quem_somos {
  background: url("./images/01..svg") no-repeat;
  background-position: 0% 50%;
}

#o_que_fazemos {
  background: url("./images/02..svg") no-repeat;
  background-position: 0% 50%;
}

#nossos_clientes {
  background: url("./images/03..svg") no-repeat;
  background-position: 0% 50%;
}

#plan_news {
  background: url("./images/04..svg") no-repeat;
  background-position: 0% 50%;
}

#contato {
  background: url("./images/05..svg") no-repeat;
  background-position: 0% 50%;
}

.sidebar__header--bottom {
  position: relative;
  margin: 50% 0 0 0;
  width: 100%;
  height: 150px;
  background: url("./images/;\).svg") no-repeat;
  background-position: 10% 45%;
  border-top: 2px solid #292929;
}

.sidebar__header--bottom p {
  cursor: pointer;
  padding: 28% 10%;
  position: absolute;
  top: 1%;
}

.sidebar__header--bottom a {
  cursor: pointer;
  position: relative;
  left: 70%;
}

.items-seta {
  margin: 25% 0 0;
}

.items:hover {
  color: #fff;
}

.mainsection {
  padding: 12% 0 0 16%;
  width: 77%;
  min-height: 100vh;
  display: inline-flex;
}

.mainsection__left--side {
  width: 50%;
}

.breadcrumb__top {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}

#breadcrumb__games {
  background: url("./images/02..svg") no-repeat;
  background-position: 0% 50%;
  background-size: contain;
}

#breadcrumb__casesgames {
  background: url("./images/03..svg") no-repeat;
  background-position: 0% 50%;
  background-size: contain;
}

#breadcrumb__contact {
  background: url("./images/05..svg") no-repeat;
  background-position: 0% 50%;
  background-size: contain;
}

.left__side--title {
  font-size: 37px;
  color: #939598;
}

.left__side--subtitle {
  font-size: 25px;
  margin: 3% 0;
  color: #939598;
  font-weight: 400;
}

.left__side--h4 {
  font-size: 16px;
  line-height: 26px;
  color: #a3a3a3;
  font-weight: 400;
}

.left__side--p {
  margin: 3% 0;
  width: 90%;
  height: 138px;
  font-size: 13px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
}

.left__side--p--contato {
  width: 90%;
  margin-top: 3%;
  font-size: 13px;
  line-height: 25px;
}

.mainsection__right--side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin: 0 1%;
  flex: 1;
}

.mainsection__right--side-contato {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 25%;
  width: 100%;
  margin: 0 1%;
  flex: 1;
}

.mainsection__right--side--top {
  display: flex;
  justify-content: space-between;
}

.mainsection__right--side--bottom {
  margin-top: 15%;
  display: flex;
  justify-content: space-between;
}

.card-content {
  margin: 0 1%;
  width: 98%;
}

/*CASES-GAMES*/

.image {
  display: flex;
  width: 10vw;
  height: 18vh;
  background-color: #393334;
  object-fit: cover;
}

.mainsection__casesgames {
  padding: 12% 0 0 16%;
  width: 79%;
  min-height: 100vh;
  display: inline-block;
}

.left__side--text {
  height: 1rem;
  font-size: 12px;
  color: #939598;
  font-weight: 400;
}

.left__side--casesgamestext {
  height: 1rem;
  font-size: 12px;
  margin-top: 2.5%;
  margin-left: 2%;
  color: #939598;
  font-weight: 400;
}

.title_text {
  display: inline-flex;
  display: inline-flex;
  width: 100%;
}

.mainsection__casesgames-cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex: 1;
}

.card__content--casesgames {
  margin-top: 2%;
  width: 20%;
  background-color: #292929;
  margin-right: 1%;
}
.card-text--casesgames {
  padding: 6%;
}

.card-text--casesgames div {
  width: fit-content;
  padding: 1%;
  background-color: #939598;
}

.card-text--casesgames div p {
  font-size: 12px;
  color: #1e1e1e;
  font-weight: 900;
}

.card-text--casesgames-text {
  margin-top: 5%;
  width: 100%;
  font-size: 13px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 300;
  text-align: start;
}

.card-text--casesgames-header {
  margin-top: 5%;
  height: 50px;
  font-size: 20px;
  color: #939598;
  font-weight: 400;
}

#card1,
#card2,
#card3,
#card4,
#card5 {
  display: flex;
  width: 100%;
  height: 18vh;
  color: #393334;
  position: relative;
  overflow: hidden;
  background-color: black;
}

#card1::after,
#card2::after,
#card3::after,
#card4::after,
#card5::after {
  content: "";
  position: absolute;
  width: 300px;
  right: -60%;
  top: 50%;
  height: 100px;
  background-color: black;
  transform: rotate(45deg);
  transform-origin: right top;
}
#card1 {
  background: url("./images/softeng.png") no-repeat;
  background-size: 120%;
  background-position: 0% 0%;
}
#card2 {
  background: url("./images/Background2.png") no-repeat;
  background-size: 100%;
  background-position: 10% 90%;
}
#card3 {
  background: url("./images/Layer\ 19.png") no-repeat;
  background-size: 150%;
  background-position: 0% 0%;
}
#card4 {
  background: url("./images/Layer\ 10.png") no-repeat;
  background-size: 100%;
  background-position: 15% 0%;
}
#card5 {
  background: url("./images/food.png") no-repeat;
  background-size: 120%;
  background-position: 20% 60%;
}
#card__image--games {
  background: url("./images/Shape 4.png") no-repeat;
  background-position: 0 90%;
  display: flex;
  width: 10vw;
  height: 18vh;
  color: #393334;
}

.controll-top {
  width: 12%;
  position: absolute;
  left: 88%;
  z-index: 1;
}

.card-text p {
  margin-top: 15%;
  width: 100%;
  font-size: 13px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 300;
  text-align: start;
}

/*CONTACT PAGE*/

.left__side--title-contato {
  height: 10rem;
  font-size: 37px;
  color: #939598;
}

.mainsection__contato {
  width: 80%;
}

input[type="text"],
textarea {
  background-color: #1e1e1e;
  border: 1px solid #464646;
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #4e514f;
}

.inline-form {
  display: inline-flex;
}

.inline-form div:first-child {
  margin-right: 10%;
}

.inline-form input[type="text"] {
  width: 100%;
}

.form {
  margin-top: 20%;
  padding: 20px 0;
}

.card-contato-h2 {
  height: 2rem;
  width: 191px;
  font-size: 20px;
  color: #939598;
}
.card-contato-h2 img {
  width: 45%;
}

#map-icon {
  width: 12px;
  padding: 2%;
}
.icons {
  margin: 10% 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.icons img {
  width: 26%;
}

/**/
/**/
/*MOBILE*/
@media (max-width: 700px) {
  .mainsection,
  .mainsection__casesgames,
  .sidebar {
    display: none;
  }
  .c-carousel--simple {
    display: inline;
  }
  .mobile-logo {
    display: inline-flex;
  }
}

.carousel-card {
  min-height: 100vh;
  width: 100%;
  background-color: #292929;
}

.carousel-card {
  position: relative;
}

.js-carousel--simple-dots {
  position: absolute;
  top: 45%;
  width: 100%;
}

#card-carousel-1,
#card-carousel-2,
#card-carousel-3,
#card-carousel-4,
#card-carousel-5 {
  display: flex;
  width: 100%;
  height: 50vh;
  color: #393334;
  position: relative;
  overflow: hidden;
  background-color: black;
}

#card-carousel-1::after,
#card-carousel-2::after,
#card-carousel-3::after,
#card-carousel-4::after,
#card-carousel-5::after {
  content: "";
  position: absolute;
  width: 200px;
  right: 0%;
  top: -40%;
  height: 300px;
  background-color: black;
  transform: rotate(-45deg);
  transform-origin: right top;
}
#card-carousel-1 {
  background: url("./images/softeng.png") no-repeat;
  background-size: 120%;
  background-position: 0% 0%;
}
#card-carousel-2 {
  background: url("./images/softeng.png") no-repeat;
  background-size: 100%;
  background-position: 10% 90%;
}
#card-carousel-3 {
  background: url("./images/softeng.png") no-repeat;
  background-size: 150%;
  background-position: 0% 0%;
}
#card-carousel-4 {
  background: url("./images/softeng.png") no-repeat;
  background-size: 100%;
  background-position: 15% 0%;
}
#card-carousel-5 {
  background: url("./images/softeng.png") no-repeat;
  background-size: 120%;
  background-position: 20% 60%;
}
#card__image--games {
  background: url("./images/Shape 4.png") no-repeat;
  background-position: 0 90%;
  display: flex;
  width: 10vw;
  height: 18vh;
  color: #393334;
}